{% extends "base.html" %}

{% block content %}

<h2>Sign Up</h2>
<form action='/signup' method='post'>
    <label for='username'>UserName</label>
    <input name='username' id='username' type='text' value='{{username}}' /> <br />
    <label for='password'>PassWord</label>
    <input name='password' id='password' type='password' value='{{password}}' /> <br />
    <label for='verify'>Verify PassWord</label>
    <input name='verify' id='verify' type='password' value='{{verify}}' /> <br />
    <input type='submit' value='LogIn' />
</form>
<p class="error">{{error_msg}}</p>

{% endblock %}